name: Trunk Upgrade

on:
  schedule:
    # On the first day of every month @ 8am
    - cron: 0 8 1 * *
  workflow_dispatch: {}

permissions: read-all

jobs:
  trunk-upgrade:
    runs-on: ubuntu-latest
    permissions:
      # For trunk to create PRs
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Trunk Upgrade
        uses: ./ # Use the local action for self-testing
        with:
          app-id: ${{ secrets.MP_BOT_APP_ID }}
          app-private-key: ${{ secrets.MP_BOT_APP_PRIVATE_KEY }}
          github-token: ${{ secrets.MASTERPOINT_TEAM_PAT }}
          reviewers: "@masterpointio/masterpoint-open-source"
